<form action="" name="form-input" class="m-10" method="POST">
    <div>
        <label for="name">Nhập tên</label><br>
        <input type="text" name="name" id="name" placeholder="Nhập tên" required>
    </div>

    <button type="submit" class="mt-10">Gửi</button>
</form>